In [13]:
#grade number to grade letter using if, elif, and else

grade = 66
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('You failed')
    print('Try again')

D

In [14]:
#practice with while statements

product = 50
while product <= 150:
    product = product * 2
product

200

In [16]:
#3.8 self check
#practice with for statements

total = 0

for number in [2, 5, 1, 7, 14]:
    total = total + number
total

29

In [38]:
#3.8.2 self check
#practice with for statements using range

for counter in range(10):
    print(counter, end='  ')

0  1  2  3  4  5  6  7  8  9

In [39]:
#3.9 self check
#practice with augmented assignments

total = 0

for number in [2, 4, 1, 9, 5]:
    total += number
total

21

In [33]:
x = 15
x *= 2
x

30

In [37]:
#3.10.3
#practice class average program

#initialization phase
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

#processing phase
for grade in grades:
    total += grade
    grade_counter += 1
    
#termination phase
average = total / grade_counter
print(f'Class average is {average}')

Class average is 81.7

In [41]:
#3.13 self check
#practice with two and three-argument versions of the range function

for number in range(0, 10, 2):
    print(number, end='  ')

0  2  4  6  8

In [49]:
#more range function practice

for number in range(300, 200, -25):
    print(number, end='  ')

300  275  250  225

In [51]:
#3.15
#practice with break and continue statements

for number in range(10):
    if number == 9:
        break
    print(number, end='  ')

0  1  2  3  4  5  6  7  8

In [52]:
#3.15
#practice with break and continue statements

for number in range(10):
    if number == 3:
        continue
    print(number, end='  ')

0  1  2  4  5  6  7  8  9

In [53]:
#3.16 self check
#practice with boolean operators

i = 1
j = 2
k = 3
m = 2
(i >= 1) and (j < 4)

True

In [54]:
(m <= 99) and (k < m)

False

In [55]:
(j <= i) or (k == m)

False

In [58]:
(k + m < j) or (3 - j >= k)

False

In [59]:
not (k > m)

False

In [62]:
#6 Calculate Measures of Central Tendency - Native Pytho
#using data poitns from 4 on page 111 to calculate count, sum and mean

values = [47, 95, 88, 73, 88, 84]

count = len(values)
total = sum(values)
mean = total / count

print('The count is', count)
print('The sum is', total)
print('The mean is', mean)

The count is 6
The sum is 475
The mean is 79.16666666666667

In [67]:
#7 Calculate Measures of Central Tendency - with Statistic Module
import statistics

In [64]:
statistics.mean(values)

79.16666666666667

In [65]:
statistics.median(values)

86.0

In [66]:
statistics.mode(values)

88

In [90]:
#8 Custom Central Tendency
#practice with my own data set Alex Ledgerwood

value = [42, 14, 16, 72, 58]
count = len(value)
total = sum(value)
mean = total / count

print('The count is', count)
print('The total is', total)
print('The mean is', mean)

The count is 5
The total is 202
The mean is 40.4

In [91]:
statistics.mean(value)

40.4

In [92]:
statistics.mode(value)

42

In [93]:
statistics.median(value)

42